.container
  h2 Book Event Ticket For Individual

  = form_for(@booking, url: bookings_path, method: :post) do |f|
    .field
      = f.label 'Event Price'
      br
      = @event.price

    - if @booking_calulator.discount
      .field
        = f.label 'Discount'
        br
        = @booking_calulator.discount

    .field
      = f.label :amount, 'Total'
      br
      = f.number_field :amount, readonly: true

    br
    .actions
      = f.submit 'Book'
  <br>
