.container
  .panel.panel-default
    .panel-heading Events
    table.table
      - if @events.present?
        thead
          tr
            th Event Title
            th Event Start Time
            th Event End Time
            th Created At
        tbody
            - @events.each do |event|
              tr
                td = link_to event.title, event_path(event)
                td = event.event_start_time.strftime("%a, %d %B %Y %I %p")
                td = event.event_end_time.strftime("%a, %d %B %Y %I %p")
                td = event.created_at.strftime("%a, %d %B %Y")
      - else
        h2 No Events
