.container
  .panel.panel-default
    .panel-heading Event Participant of #{@event.title}
    - is_current_user_participant = false
    table.table
      - if @participants.present?
        thead
          tr
            th Name
            th Gender
        tbody
            - @participants.each do |participant|
              - user = participant.user
              - next if user_signed_in? && user.id == current_user.id && is_current_user_participant = true
              tr
                td = user.name
                td = user.gender
      - else
        h2 No Participant

  - if user_signed_in? && !@event.past_event?
    .panel.panel-default
      .panel-heading Your Action
      - if is_current_user_participant
        strong = link_to 'Unattend', cancel_bookings_path(@event), method: :post
      - else
        strong = link_to 'Attend', new_booking_path(@event)
