<!DOCTYPE html>
<html>
  <head>
    <title>BukukasEventBooking</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class='container'>
      <ul class="nav nav-pills">
        <li role="presentation" class="active">
          <%= link_to 'Home', root_path %>
        </li>
        <% if user_signed_in? %>
          <li role="presentation"><%= link_to('Logout', destroy_user_session_path, method: :delete) %></li>
        <% else %>
          <li role="presentation">
            <%= link_to 'Login', new_user_session_path %>
          </li>
          <li role="presentation">
            <%= link_to 'Register', new_user_registration_path %>
          </li>
        <% end %>
      </ul>
    </div>
    <hr>
    <%= yield %>
  </body>
</html>
